

@import "main.scss";

#Detail{
  width:100%;
  height:100%;
  overflow-x:hidden;
  @include flexBox;
  @include flex-direction(column);
  margin: 0 auto;

  #content{
    @include flex(1);
    width: 100%;
    height: 100%;
    background: #EAEAEA;
    margin-bottom: 56px;
    overflow-x:hidden;
    overflow-y: auto;
    position: relative;
    .banner{
      width: 100%;
      height: 552px;
      background:#fff ;
      #banner_swiper{
        width: 100%;
        height: 384px;
        border: 0;
        overflow: hidden;
        img{
          display: inline-block;
          width: 100%;
          height:480px;
        }
        .swiper-pagination{
          color: #fff;
          background: rgba(0,0,0,.3);
          width: 60px;
          border-radius: 20px;
          left: 80%;
        }
      }

      .title{
        width:100%;height: 36px;
        background:#fff ;
        text-align: left;
        margin-top: 16px;
        padding: 0 16px;
        font-size:14px ;
        .title-text{
          display: block;
          width: 280px;
          height: 33px;
          color: #424242;
        }
      }

      .tox1{
        width: 100%;
        height: 46px;
        margin: 6px;
        .tox2{
          width:292px;
          height:46px;
          margin:0 auto;
          .tab1{width:84px;
            height:46px;
            float: left;
            .abs1{display: block;
              width:7px;
              padding-top: 5px;
              height: 18px;
              float: left;
            }
            .abs2{font-size: 28px;
              box-sizing: border-box;
              float: right;color: #333}
          }
          .tab2{width: 42px;
            height:46px;
            float: left;
            margin-left: 5px;
             .abs3{
               display: block;
               width: 42px;
               height: 18px;
               color: #999;
               text-decoration:line-through;
             }
            .abs4{
              //display: block;
              width:35px;
              height:13px;
              background: rgb(255, 232, 238);
              color: rgb(255, 34, 85);
            }
          }

        }
      }

      .tox2{width:100%;
        height:64px;
        .tox3{
          width:292px;
          height:64px;
          margin:0 auto;

          .tox3-1{
            width:292px;
            height:32px;

            .abs5{
              display: block;

              width:96px;
              height: 32px;
              line-height: 32px;
              float: left;
            }
            .abs6{
              display: block;
              float: left;
              text-align: center;

              width:96px;
              height: 32px;
              line-height: 32px;
            }
          }

          .tox3-2{
            width:320px;
            height:32px;

            .tab3{
              width:105px;
              height:18px;
              float: left;
              margin-right:3px;
              .abs7{
                display: block;
                width:15px;
                height:15px;
                float: left;
                .img-box{
                  width:15px;
                  height:15px;
                  img{
                    display: inline-block;
                    width:15px;
                    height:15px;
                  }
                }
              }
              .abs8{
                display: block;
                width:90px;
                height:18px;
                float: right;

              }

              .abs9{
                display: block;
                width:62px;
                height:18px;
                float: right;

              }

            }
            .tab3:nth-of-type(2){
              width:80px;
              .abs8{
                display: block;
                width:64px;
                height:18px;
                float: right;

              }
            }

          }
        }

       }

      }
    .menu{
      width:110px;
      height:200px;
      position: fixed;
      z-index: 999;
      right: 0;
      top:50%;
      display: none;
      ul{
        width:100%;
        height:100%;

        li{
          display: block;
          width:110px;
          height:40px;

          .p1{
            display: block;
            width:63px;
            height:40px;
            float: left;
            text-align: center;
            line-height: 40px;
            font-size: 14px;
            color: #fff;
          }
          .iconfont{
            display: block;
            font-style: normal;
            width:40px;
            height:40px;
            float: right;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
            background: #6e6568;
            color: #fff;
            font-size: 18px;
          }
        }
      }


    }

    .yuan{width:50px;
      height:50px;
      background:#000;
      z-index: 999;
      box-shadow: 0 4px 8px rgba(0,0,0,0.3);
      position:fixed;right: 0;top:80%;
      border-radius: 50%;
      text-align: center;

      color: #fff;
      opacity: .7;
      .kuai{
        display: block;
        padding: 10px 0 0 0;
        width:50px;
        height:38px;
        font-size: 12px;
        text-align: center;
      }
    }
  }


  #Detail-foot{
    width: 100%;
    height: 55px;
    position: fixed;
    bottom:0;
    background: #fff;
    &::-webkit-scrollbar {display:none}
    @include flexBox;
    @include flex-direction(row);
    .footer_left{
      width: 50%;
      height: 100%;
      border-top:1px solid #cecece ;
      @include flexBox;
      @include flex-direction(row);
      div{
        @include flex-center;
        @include flex(1);
        height: 100%;
        font-size: 14px;
        span{
          display: block;
          font-size: 24px;
          @include flex-center;
        }
      }
      div:nth-child(2){
        border-left:1px solid #cecece ;
        border-right:1px solid #cecece ;
      }
    }
    .footer_right{
      width: 50%;
      height: 100%;
      @include flexBox;
      @include flex-direction(row);
      .footer_right_1{
        @include flex-center;
        @include flex(1);
        height: 100%;
        color:#ff5777;
        background: #ffe6e8;
      }
      .footer_right_2{
        @include flex-center;
        @include flex(1);
        height: 100%;
        color:#fff;
        background: #ff5777;
      }
    }
  }
  .zhezhao{
    z-index: 99;
    width:100%;
    height:100%;
    background: #0f0f0f;
    opacity: .7;
    position: absolute;
    display: none;
  }


}